.place__image {
  grid-area: image;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__image {
    max-height: 340px;
    max-width: 340px;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-height: 320px;
    max-width: 320px;
  }
}
