.place__button {
  grid-area: button;
}

@media screen and (max-width: 495px) {
  .place__button {
    max-width: 495px;
    box-sizing: border-box;
    width: calc(100% - 32px);
    margin: 0 16px 0 16px;
  }
}
