.place__paragraphs {
  grid-area: paragraphs;
  font-size: 18px;
  line-height: 29px;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    font-size: 16px;
    line-height: 26px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 495px) {
  .place__paragraphs {
    margin: 0 16px 0 16px;
    padding: 0;
  }
}
