.lead__title {
  text-align: center;
  margin: 32px auto 0;
  padding: 0;
  max-width: 793px;
  width: 100%;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 495px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
