.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  max-width: 720px;
  width: 100%;
  margin: 32px auto 64px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 32px auto 36px;
  }
}

@media screen and (max-width: 495px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    margin: 16px auto 40px;
    line-height: 20px;
  }
}
