.footer {
  margin: 92px auto 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 495px) {
  .footer {
    margin: 64px 0 0 0;
  }
}
